@using PracticeSite.Models.Entities
@using PracticeSite.Models.Enums
@model IEnumerable<ApplicationForm>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<h2>Управління заявками</h2>

<form method="get">
    <div class="form-group">
        <label for="searchName">Ім'я</label>
        <input type="text" name="searchName" class="form-control" value="@HttpContextAccessor.HttpContext.Request.Query[" searchName"]" />
    </div>
    <div class="form-group">
        <label for="searchPhone">Телефон</label>
        <input type="text" name="searchPhone" class="form-control" value="@HttpContextAccessor.HttpContext.Request.Query["searchPhone"]" />
    </div>
    <div class="form-group">
        <label for="searchAddress">Адреса</label>
        <input type="text" name="searchAddress" class="form-control" value="@HttpContextAccessor.HttpContext.Request.Query["searchAddress"]" />
    </div>
    <button type="submit" class="btn btn-primary">Шукати</button>
</form>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var application in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">                      
                        <div class="card-body">
                            <h4 class="card-title">@application.Title</h4>
                            <p class="card-text">Пропозиція від: @application.FullName</p>
                            <p class="card-text">Вік: @application.Age</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="nav-link" asp-controller="ApplicationForms" asp-action="Detail" asp-route-id="@application.Id">Переглянути</a>
                                </div>
                                @switch (application.Status)
                                {
                                    case ApplicationStatus.Accepted:
                                        <small class="text-muted">Прийнята</small>
                                        break;
                                    case ApplicationStatus.Rejected:
                                        <small class="text-muted">Відхилена</small>
                                        break;
                                    case ApplicationStatus.InProgress:
                                        <small class="text-muted">Очікує на відповідь</small>
                                        break;
                                }                                
                            </div>
                        </div>
                    </div>
                </div>
            }                                   
        </div>
    </div>
</div>
@* <table class="table">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Телефон</th>
            <th>Електронна пошта</th>
            <th>Адреса</th>
            <th>Площа</th>
            <th>Ціна за гектар</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model)
        {
            <tr>
                <td>@application.FullName</td>
                <td>@application.PhoneNumber</td>
                <td>@application.Email</td>
                <td>@application.Address</td>
                <td>@application.LandArea</td>
                <td>@application.PricePerHectare</td>
                <td>@application.Status</td>
                <td>
                    @if (application.Status == ApplicationStatus.InProgress)
                    {
                        <form asp-action="Accept" asp-route-id="@application.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-success">Прийняти</button>
                        </form>
                        <form asp-action="Reject" asp-route-id="@application.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Відхилити</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table> *@
